*~
.\#*
\#*#

*.py[co]
__pycache__/
/*.egg
*.egg-link
/.eggs/

# /
/build/
/dist/
/*.patch
/MANIFEST
/README.html

# Temporary files from editor and tools
*.swp
.ropeproject
.idea
.spyproject
.DS_store
*.pdb
.cache
*.prof

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
