language: python

branches:
  except:
    - /pyup\/.*/


dist: bionic

os: linux

services:
  - xvfb  # We might need to test GUIs https://docs.travis-ci.com/user/gui-and-headless-browsers/#using-services-xvfb.

jobs:
  fast_finish: true
  include:

    - &test
      stage: PyInstaller development version
      python: 3.9
      install: &install-develop
        # Upgrade to the latest pip.
        - python -m pip install -U pip setuptools wheel
        - apt-get install -y libmariadbclient-dev

        # Install hooks-contrib
        - pip install -e .
        - pip install --prefer-binary -r requirements-test-libraries.txt

        # Install PyInstaller
        - pip install https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz

      script: |
        python -m PyInstaller.utils.run_tests -c pytest.ini

    - <<: *test
      python: 3.8
    - <<: *test
      python: 3.7
    - <<: *test
      python: 3.6

    - <<: *test
      stage: PyInstaller development version
      python: 3.8
      install: *install-develop
    - <<: *test
      stage: PyInstaller development version
      python: 3.7
      install: *install-develop
    - <<: *test
      stage: PyInstaller development version
      python: 3.6
      install: *install-develop
