language: python

branches:
  except:
    - /pyup\/.*/


dist: bionic

os: linux

services:
  - xvfb  # We might need to test GUIs https://docs.travis-ci.com/user/gui-and-headless-browsers/#using-services-xvfb.

jobs:
  fast_finish: true
  include:
    - &test
      stage: PyInstaller stable release
      python: 3.7
      install:
        # Upgrade to the latest pip.
        - python -m pip install -U pip setuptools wheel

        # Install hooks-contrib
        - pip install -e .
        - pip install -r requirements-test-libraries.txt

        # Install PyInstaller
        - pip install pyinstaller
      script: |
        pyi_version="$(python -m PyInstaller --version)"
        if [ "$pyi_version" != *"3.6"* ]; then
          python -m PyInstaller.utils.run_tests -c pytest.ini
        fi

    - <<: *test
      stage: PyInstaller development version
      install: &install-develop
        # Upgrade to the latest pip.
        - python -m pip install -U pip setuptools wheel

        # Install hooks-contrib
        - pip install -e .
        - pip install -r requirements-test-libraries.txt

        # Install PyInstaller
        - pip install https://github.com/pyinstaller/pyinstaller/archive/develop.tar.gz

    - <<: *test
      python: 3.6
    - <<: *test
      python: 3.5

    - <<: *test
      stage: PyInstaller development version
      python: 3.6
      install: *install-develop
    - <<: *test
      stage: PyInstaller development version
      python: 3.5
      install: *install-develop
