# ------------------ LIBRARIES ------------------ #
# TODO: Add most of the libraries we have hooks for, and write tests
av==8.0.3
boto==2.49.0
boto3==1.12.33
botocore==1.15.33
dash==1.19.0
dash-bootstrap-components==0.12.0
humanize==3.5.0
iminuit==2.4.0
markdown==3.3.4
msoffcrypto-tool==4.12.0
Office365-REST-Python-Client==2.3.4
openpyxl==3.0.3
passlib==1.7.2
pendulum==2.0.5
phonenumbers==8.12.1
pinyin==0.4.0
plotly==4.14.3
publicsuffix2==2.20191221
pycparser==2.20
pycryptodome==3.9.7
pycryptodomex==3.9.7
pyexcelerate==0.8.0
pylint==2.4.4
pyusb==1.0.2
pyzmq==22.0.3
sentry-sdk==0.19.3
# shotgun_api3 can only be installed from git
git+https://github.com/shotgunsoftware/python-api.git@v3.2.6
spacy==3.0.6
srsly==2.4.1
thinc==8.0.4
Unidecode==1.1.1
web3==5.7.0
zeep==3.4.0

# ------------------- Python Version/Platform (OS) specifics
# Last release with prebuilt wheels for Python 3.6 is 3.1.0
h5py==3.1.0; python_version < '3.7'
h5py==3.2.1; python_version >= '3.7'

# Pandas dropped support for Python 3.6 in 1.2 releases
pandas==1.1.5; python_version < '3.7'
pandas==1.2.3; python_version >= '3.7'

# PyEnchant only pre-builds macOS and Windows
pyenchant==3.0.1; sys_platform == 'darwin' or sys_platform == 'win32'

# uvloop does not currently support Windows.
uvloop==0.14.0; sys_platform != 'win32'

# pydivert only runs on Windows
pydivert==2.1.0; sys_platform == 'win32'

# pywin32-ctypes runs on Windows
pywin32-ctypes==0.2.0; sys_platform == 'win32'

# Include the requirements for testing
-r requirements-test.txt
