name: Lint

on:
  pull_request:  # Trigger on PRs to every branch
    branches:
      - '*'  # Match every branch (Next line as well)
      - '*/*'


jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    # Prevent @rokm from accidentally adding U+02D9 characters instead of backticks.
    - name: Ensure that no U+02D9 characters are present
      run: "! git grep -I $'\u02d9'"

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.x

    - name: Install dependencies
      run: pip install -U flake8 wheel setuptools

    - name: Run Lint
      run: flake8 -v
    - name: Test Distribution
      run: |
        python setup.py sdist bdist_wheel
        pip install -v .
